@font-face {
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
    font-family: mon;
}

#upper {
    background-image: url(../assets/backgrounds/h_img.jpg);
    text-align: center;
    color: white;
    height: 800px;
    font-family: mon;
    font-size: 40px;
}

#small {
    font-size: 10px;
    text-align: right;
    color: azure;
}

.upper-part p {
    text-align: center;
    color: azure;
    font-size: 40px;
}

image {
    align-self: center;
}

p1 {
    text-align: center;
    color: azure;
}

.about-us {
    text-align: center;
    color: black;
}

.about-us p {
    font-size: 20px;
    font-family: mon;
}

.third-part {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: 100%;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: mon;
    color: azure;
}
h3{
    text-align: center;
    font-family: mon;
    font-size: 40px;
}
#design {
    font-size: 18px;
    font-family: mon;
    text-align: center;
    
}

.write{
    text-align: center;
    font-family: mon;
    font-size: 18px;
}
.klopp{
    font-size: 18px;
    font-family: mon;
    text-align: center;
}



h5{
text-align: center;
font-size: 40px;
font-family: mon;
}

.porto img{
padding: 10px;
}
h6{
    text-align: center;
    font-size: 40px;
    font-family: mon 
}
.contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: 10 0%;
    margin-bottom: 0%;
    height: 500px;
}
a {
 float: right;
}
.footer{
    align-content: center;
}

    


